<template>
<modal name="standalone-login-modal" transition="pop-out" :width="modalWidth" :height="400" @before-open="beforeOpen">
  <div class="box">
    <div class="box-part-left" id="bp-left">
      <div class="partition" id="partition-register" v-show="finalstate === 'signin'">
        <div class="partition-title">Sign-In</div>
        <div class="partition-form">
		<form autocomplete="off" id="loginform" @submit.prevent="handleSubmit">
		<div style="font-size:10px;color:red" v-if="errors.length">
			<b>Please correct the following error(s):</b>
			<ul>
				<li v-for="error in errors">{{ error }}</li>
			</ul>
  		</div>
            <input autocomplete="false" id="n-email" type="text" v-model="user.email" placeholder="Email">
            <input id="n-password" type="password" v-model="user.password" placeholder="Password">
            <button class="btn green" type="submit">Login</button>
       		</form>
	    </br>
	    <label> Don't have an account? <a v-on:click="this.signUp">Sign Up</a></label>
	</div> <!-- partition-form -->
      </div> <!-- partition-register -->

      <div class="partition" id="partition-register" v-show="finalstate === 'signup'">
        <div class="partition-title">Sign Up</div>
        <div class="partition-form">
		<form id="regform" @submit.prevent="handleSignupSubmit">
		<div style="font-size:10px;color:red" v-if="regerrors.length">
			<b>Please correct the following error(s):</b>
			<ul>
				<li v-for="error in regerrors">{{ error }}</li>
			</ul>
  		</div>
            <input id="sn-email" type="text" v-model="reguser.email" placeholder="Email">
            <input id="sn-password" type="password" v-model="reguser.password" placeholder="Password">
	    <div class="regdropdown">
	    <select v-model="reguser.birthyear">
	    <option disabled value="">Birth Year</option>
	    <option>1994</option>
	    <option>1995</option>
	    <option>1996</option>
	    </select>
	    </div>
	    <input type="radio" v-model="reguser.gender" v-bind:value="f">Female</input>
	    <input type="radio" v-model="reguser.gender" v-bind:value="m">Male</input>
	    </br>
            <button class="btn green" type="submit">Sign Up</button>
	    <label> Have an account? <a v-on:click="this.loGin">Login</a></label>
       		</form>
	   <span style="letter-spacing: -0.1px;">By signing up you agree to <span>foodnetwork.com's</span><a  target="_blank" href="http://www.scrippsnetworks.com/terms.aspx"> Terms of Use</a> and <a target="_blank" href="http://www.scrippsnetworks.com/privacy.aspx">Privacy Policy</a></span>
	    </br>
	</div> <!-- partition-form -->
      </div> <!-- partition-register -->


    </div> <!-- box-left -->
    <div class="box-part-right" id="bp-right">
      <div class="box-messages"> </div>
    </div> <!-- bp-right -->
  </div> <!-- box -->
</modal>
</template>
<script>
const MODAL_WIDTH = 656

export default {
  name: "standalone-login-modal",
  components: {
  },
  props: ['authStatus'],
  data () {
    return {
      mstate: "signin",
      authenticated: this.authStatus,
      modalWidth: MODAL_WIDTH,
      query: '',
      user: {
        email: '',
        password: '',
      },
      reguser: {
        email: '',
        password: '',
        birthyear: '',
        gender: '',
      },
      f: "f",
      m: "m",
     authenticatedStatus: false,
      errors: [],
      regerrors: [],
    }
  },
  created () {
    this.modalWidth = window.innerWidth < MODAL_WIDTH
      ? MODAL_WIDTH / 2
      : MODAL_WIDTH
  },
  computed: {
	finalstate: function() {
	  return this.mstate;
	},
  },
  methods: {
    beforeOpen() {
	var token = localStorage.getItem('token')
	if (token === '' || token === undefined || token === null)
		this.mstate = 'signin';
    },
    Open () {
   	let form = document.getElementById('loginform');
    },
   activated: function(){
    console.log('activated', this._inactive, this.item)
   },
   mounted: function(){
    console.log('mounted', this._inactive, this.item)
  },
    close: function () {
            this.$emit('close');
    },
   signUp: function () {
	    this.mstate = "signup"
   },
   loGin: function () {
	    this.mstate = "signin"
   },
    handleSubmit2: function(e) {
	this.errors = [];
	this.$emit('send', 'bye')
    },
  resetUser: function() {
	if (this.user) {
		this.user.email = ''
		this.user.password = ''
		this.user.promocode = ''
	}
  },
  userLoggedout: function() {
	this.mstate = "signin"
	this.resetUser()
  },
    handleSubmit: function(e) {
	this.errors = [];
	if (this.user.email === '' && this.user.password === '') {
		this.errors.push('Email and Password are required fields');	
	} else 
	if (this.user.email === '') {
		this.errors.push('Email is a required field');	
	} else
	if (this.user.password === '') {
		this.errors.push('Password is a required field');	
	} else {
		var apiDomain = "https://gis74cbwvb.execute-api.us-east-1.amazonaws.com/default/GigyaLogin";
		var queryString = "?email=" + encodeURIComponent(this.user.email) + "&password=" + encodeURIComponent(this.user.password);
		const url = apiDomain + queryString;
		fetch(url)
            	.then(response => response.json())
	    	.then(response => {
			console.log(response);
			if (response.errorCode === 0) {
				localStorage.setItem('token',response.sessionInfo.cookieValue)
				var name = response.profile.email;
				if (response.profile.firstName !== undefined && response.profile.lastName !== undefined) {
					name = response.profile.firstName + " " + response.profile.lastName	
	}
					
				localStorage.setItem('user',name)
				localStorage.setItem('token',response.sessionInfo.cookieValue)
				localStorage.setItem('UID',response.UID)
				this.user.email = ''
				this.user.password = ''
				e.target.reset();
				this.findEntitlement();
				this.$modal.hide('standalone-login-modal')
				// this.$emit('send', 'bye') // Expecting findEntitlement to emit now
			} else {
				this.errors.push(response.errorDetails)
			}
	    	});

	}
	e.preventDefault();
   },
   handleSignupSubmit: function(e) {
	this.regerrors = [];
	if (this.reguser.email === '' && this.reguser.password === '') {
		this.regerrors.push('Email and Password are required fields');	
	} else 
	if (this.reguser.email === '') {
		this.regerrors.push('Email is a required field');	
	} else
	if (this.reguser.password === '') {
		this.regerrors.push('Password is a required field');	
	} else
	if (this.reguser.birthyear === '') {
		this.regerrors.push('Birth Year is a required field');	
	} else
	if (this.reguser.gender === '') {
		this.regerrors.push('Gender is a required field');	
	} else {
		var apiDomain = "https://gis74cbwvb.execute-api.us-east-1.amazonaws.com/default/GigyaRegister";
		var queryString = "?email=" + encodeURIComponent(this.reguser.email) + "&password=" + encodeURIComponent(this.reguser.password)+"&birthyear="+this.reguser.birthyear+"&gender="+this.reguser.gender;
		const url = apiDomain + queryString;
		fetch(url)
            	.then(response => response.json())
	    	.then(response => {
			console.log(response);
			if (response.errorCode === 0) {
				localStorage.setItem('token',response.sessionInfo.cookieValue)
				localStorage.setItem('user',response.profile.email)
				localStorage.setItem('UID',response.UID)
				this.$modal.hide('standalone-login-modal')
				this.$emit('send', 'bye')
				this.mstate = 'signin';
				this.reguser = ''
				e.target.reset();
			} else {
				this.regerrors.push(response.errorDetails)
			}
	    	});
	
	}
  },
  findEntitlement: function(e) {
		var apiDomain = "https://api.digitalstudios.discovery.com/payments-poc-marcus/v1/entitlements";
		const url = apiDomain;
		let uid = localStorage.getItem('UID');
		// let uid = 5;
		fetch(url, {
			method: 'get',
			headers: new Headers({
				'Content-Type':'application/json',
				'X-Gigya-UID': uid
		     })
		})
            	.then(response => response.json())
	    	.then(response => {
			console.log(response);
			if (response.entitlements !== undefined) {
				let entitlements = response.entitlements
				console.log('entitlements'+entitlements);
				console.log('entitlements len'+entitlements.length);
				if (entitlements.length > 0) {
					console.log('entitlement stored')
					localStorage.setItem('entitlements',entitlements);
					this.$emit('send', 'bye')
					this.$modal.hide('standalone-login-modal')
				}
			}
	    	});
	
  }
}

}
</script>
<style lang="scss">
$background_color: #404142;
$github_color: #DBA226;
$facebook_color: #3880FF;

.ccinfo {
    display: inline-block;
    font-size: 12px;
    color: blue;
    font-weight: bold;
}
.box {
  background: white;
  overflow: hidden;
  width: 656px;
  height: 400px;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 40px black;
  color: #8b8c8d;
  font-size: 0;

  .box-part {
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    height: 100%;
    width: 50%;

    &#bp-right {
      background: url("https://food.fnr.sndimg.com/content/dam/images/food/products/2019/3/15/rx_kitchenaid-mixing-bowl-hp.jpeg.rend.hgtvcom.826.551.suffix/1552661059215.jpeg") no-repeat top left;
      border-left: 1px solid #eee;
    }
  }
  .box-part-left {
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    font-size: 11px;
  }
  .box-part-right {
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    background: url("https://food.fnr.sndimg.com/content/dam/images/food/products/2019/3/15/rx_kitchenaid-mixing-bowl-hp.jpeg.rend.hgtvcom.826.551.suffix/1552661059215.jpeg") no-repeat top left;
      border-left: 1px solid #eee;
  }

  .box-messages {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .box-error-message {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    height: 0;
    line-height: 32px;
    padding: 0 12px;
    text-align: center;
    width: 100%;
    font-size: 11px;
    color: white;
    background: #F38181;
  }

  .partition {
    width: 100%;
    height: 100%;

    .partition-title {
      box-sizing: border-box;
      padding: 20px;
      width: 100%;
      text-align: center;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 600;
    }

    .partition-form {
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
  input[type=texttwo] {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 4px;
    width: 20%;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-bottom: 1px solid #DDDEDF;
    padding: 4px 8px;
    font-family: inherit;
    transition: 0.5s all;
    outline: none;
  }

  input[type=textfour] {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 4px;
    width: 20%;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-bottom: 1px solid #DDDEDF;
    padding: 4px 8px;
    font-family: inherit;
    transition: 0.5s all;
    outline: none;
  }

  input[type=password],
  input[type=text],.selectItem {
    display: block;
    box-sizing: border-box;
    margin-bottom: 4px;
    width: 100%;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-bottom: 1px solid #DDDEDF;
    padding: 4px 8px;
    font-family: inherit;
    transition: 0.5s all;
    outline: none;
  }

  button {
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    min-width: 140px;
    margin-top: 8px;
    color: #8b8c8d;
    cursor: pointer;
    border: 1px solid #DDDEDF;
    text-transform: uppercase;
    transition: 0.1s all;
    font-size: 10px;
    outline: none;
    &:hover {
      border-color: mix(#DDDEDF, black, 90%);
      color: mix(#8b8c8d, black, 80%);
    }
  }

  .large-btn {
    width: 100%;
    background: white;

    span {
      font-weight: 600;
    }
    &:hover {
      color: white !important;
    }
  }

  .button-set {
    margin-bottom: 8px;
  }

  #register-btn,
  #signin-btn {
    margin-left: 8px;
  }

  .facebook-btn {
    border-color: $facebook_color;
    color: $facebook_color;
    &:hover {
      border-color: $facebook_color;
      background: $facebook_color;
    }
  }

  .github-btn {
    border-color: $github_color;
    color: $github_color;
    &:hover {
      border-color: $github_color;
      background: $github_color;
    }
  }

  .autocomplete-fix {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
  }
}

.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.5s;
}

.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(24px);
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
.regdropdown {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding: 4px 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    font-family: inherit;
    transition: 0.5s all;
    outline: none;
}
.regdropdown select {
    color: #8b8c8d;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    font-size: 12px;
    font-family: inherit;
    -webkit-appearance: none;
}
</style>
