<template>
  <div class="loader-overlay" v-show="Loading==true">
	<img src="/static/wait.gif" />
  </div>
</template>

<script>
export default {
  name: 'loader',

  props: {
    isLoading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
  Loading: function() {
          return this.isVisible;
        },
  },

  data() {
    return {
      isVisible: false
    }
  },

  mounted() {
    this.isLoading && this.playAnimation();
    this.firstTime = true;
  },

  watch: {
    isLoading() {
      this.isLoading ?
        this.playAnimation():
        this.stopAnimation();
    }
  },

  methods: {

    playAnimation() {
      this.isVisible = true
    },

    stopAnimation() {
     this.isVisible = false
    }
  }
}
</script>
