<template>
<div id="app">
  <div v-show="this.isAuthenticated == true">
  Hello {{username}} | <a v-on:click="this.LogOut">Logout</a>
  </div>
  <div v-show="isAuthenticated == false">
  <a v-on:click="this.loginClick">Login | Sign up</a>
  </div>
  <!-- Modals -->
  <demo-login-modal v-on:send="sendAuth" ref="DemoLoginModal" v-bind:authStatus="this.isAuthenticated"/>
  <standalone-login-modal v-on:send="sendAuth" ref="DemoStandAloneLoginModal" v-bind:authStatus="this.isAuthenticated"/>

  <!-- Dialogs -->
  <modals-container />

  <v-dialog
    @before-opened="dialogEvent('before-open')"
    @before-closed="dialogEvent('before-close')"
    @opened="dialogEvent('opened')"
    @closed="dialogEvent('closed')"/>

  <h2>Learn How to Cook with the best chefs in Food Network Kitchen</h2>

  <div style="margin-top: 20px; margin-bottom: 15px;" v-show="isSubscribed == false">
    <div class="trialbutton">
    <button
      class="btn green"
      @click="$modal.show('demo-login')">
      START FREE TRIAL
    </button>
  </div>
  </div>
  <div style="margin-top: 20px; margin-bottom: 15px;" v-show="isSubscribed == true">
      You are subscribed to FN+
    <button
      class="btn red"
      @click="$modal.show('demo-login')">
	Cancel
    </button>
  </div>
</div>
</template>

<script>

import DemoLoginModal       from './components/modals/DemoLoginModal.vue'
import DemoStandAloneLoginModal       from './components/modals/DemoStandAloneLoginModal.vue'
import Vue from 'vue';

Vue.component('standalone-login-modal', DemoStandAloneLoginModal);

export default {
  name: 'app',
  props: {
	authStatus: {
		type: Boolean,
		default: false
	}
 },
  components: {
    DemoStandAloneLoginModal,
    DemoLoginModal
  },
  data () {
    return {
      canBeShown: false,
      token:'',
      username:'',
      entitlements:false
    }
  },
  computed: {
	vueRoot()
    	{ 
        	return this.$root;
    	},
	isSubscribed: function() {
		if (this.entitlements == true)
			return true;
		if (this.entitlements == false)
			return false;
	},
	isAuthenticated: function() {
		if (this.token !== '' && this.token != null) {
			var en = localStorage.getItem('entitlements')
			if (en !== null)
				this.entitlements = true;
			else
				this.entitlements = false;
			return true;
		}
		else
			return false;
	},
	isLoginLink: function() {
		if (this.loginclicked == true)
			return true
		else
			return false
	},	
	isTrial: function() {
		if (this.loginclicked == true)
			return false
		else
			return true
	}	
  },
  created () {
    this.token = localStorage.getItem('token')
    if (this.token !== '' && this.token !== null) {
    	this.username = localStorage.getItem('user')
    }
    setInterval(() => {
      this.canBeShown = !this.canBeShown
    }, 5000)
  },
  methods: {
    loginClick: function() {
		this.$modal.show('standalone-login-modal')
    },
    sendAuth(status) {
      this.token = localStorage.getItem('token')
      if (this.token !== '' && this.token !== null) {
    	this.username = localStorage.getItem('user')
	this.enableEntitlements()
      }
    },
    enableEntitlements() {
	var en = localStorage.getItem('entitlements')
	console.log("enableE  ",en);
	if (en !== undefined && en !== null)
	{
		console.log("TT");
		this.entitlements = true;
	}
	else
		this.entitlements = false;
   },
    dialogEvent (eventName) {
      console.log('Dialog event: ' + eventName)
    },
    LogOut () {
      this.entitlements = false;
      this.token = ''
      this.username = ''
      this.authStatus = false
      localStorage.removeItem('token')	
      localStorage.removeItem('user')
      localStorage.removeItem('UID')
      localStorage.removeItem('entitlements')
      this.$refs.DemoLoginModal.userLoggedout()
      this.$refs.DemoStandAloneLoginModal.userLoggedout()
    }
  }
}
</script>

<style lang="scss">

trialbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

*:not(pre) {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

body {
  margin: 0;

  padding: 280px 50px;
  padding-bottom: 0;

  width: 100%;
  min-height: 100vh;

background-image: url("https://food.fnr.sndimg.com/content/dam/images/food/fullset/2015/11/11/0/JE0101_Giada-De-Laurentiis.jpg.rend.hgtvcom.966.725.suffix/1447261292270.jpeg");
  cursor: default;
}

pre {
  color: #595959;
  background-color: #f3f3f3;
  border: 1px solid #eee;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6b7c93;

  background: #F6F9FC;
  padding: 20px;
  border-radius: 3px;

  box-shadow: 0 4px 36px rgba(50,50,93,.11),
    0 1px 33px rgba(0,0,0,.08);
}

h1,
h2 {
  font-weight: normal;

  a {
    font-size: 12px;
  }
}

a {
  color: inherit;
}

button.btn {
  outline: none;
  background: white;
  border: 0;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 3px;

  color: white;
  
  box-shadow: 0 4px 8px rgba(#20a0ff, .3);
  background: #4db3ff;

  font-weight: 600;

  border-radius: 3px;

  min-width: 90px;

  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 8px;

  &:hover {
    background: #20a0ff;
  }

  &.green {
    box-shadow: 0 4px 8px rgba(#50C9BA, .3);
    background: #50C9BA;

    &:hover {
     background: mix(#50C9BA, black, 95%);
    }
  }

  &.red {
    box-shadow: 0 4px 8px rgba(#F21368, .3);
    background: #F21368;

    &:hover {
      background: mix(#F21368, black, 95%);
    }
  }
}

.example-modal-content {
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 13px;
  overflow: auto;
}

.vue-dialog button {
  letter-spacing: 1px;
}

@media (max-width:600px)  {
  body {
    padding: 10px;
  }
}
</style>
